{% extends "store_base.html" %}

{% block content %}

<div class="col-lg-9">
    <form action="your_action_url">
     
    <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
        <div class="row">
            <div class="col-sm-6" >
                <label>Name *</label>
                <input type="text" class="form-control"  name = "name" required>
            </div><!-- End .col-sm-6 -->

            <!-- <div class="col-sm-6">
                <label>Last Name *</label>
                <input type="text" class="form-control" required>
            </div>End .col-sm-6 -->
        </div><!-- End .row -->

        <!-- <label>Company Name (Optional)</label>
        <input type="text" class="form-control"> -->

        <label>Country *</label>
        <input type="text" class="form-control" required>

        <label>Street address *</label>
        <input type="text" class="form-control" placeholder="House number and Street name" required>
        <input type="text" class="form-control" placeholder="Appartments, suite, unit etc ..." required>

        <div class="row">
            <div class="col-sm-6">
                <label>Town / City *</label>
                <input type="text" class="form-control" name ='' required>
            </div><!-- End .col-sm-6 -->

            <div class="col-sm-6">
                <label>State / County *</label>
                <input type="text" class="form-control" required>
            </div><!-- End .col-sm-6 -->
        </div><!-- End .row -->

        <div class="row">
            <div class="col-sm-6">
                <label>Postcode / ZIP *</label>
                <input type="text" class="form-control" required>
            </div><!-- End .col-sm-6 -->

            <div class="col-sm-6">
                <label>Phone *</label>
                <input type="tel" class="form-control" name = 'mobile_number' required>
            </div><!-- End .col-sm-6 -->
        </div><!-- End .row -->

        <label>Email address *</label>
        <input type="email" class="form-control" name = 'email' required>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkout-create-acc">
            <label class="custom-control-label" for="checkout-create-acc">Create an account?</label>
        </div><!-- End .custom-checkbox -->

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkout-diff-address">
            <label class="custom-control-label" for="checkout-diff-address">Ship to a different address?</label>
        </div><!-- End .custom-checkbox -->

        <label>Order notes (optional)</label>
        <textarea class="form-control" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
    </form>
</div><!-- End .col-lg-9 -->
{% endblock %}