{% extends "admin_base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Add Product</h6>
                <form method="post" action="{% url 'add_products' %}" enctype="multipart/form-data">
                    {% csrf_token %} 
                    <div class="mb-3">
                        <label for="product_name" class="form-label">product Name</label>
                        <input type="text" class="form-control" id="productName" name="product_name">
                    </div>
                    <div class="form-group row">
                        <label for="colFormLabel" class="col-sm-3 col-form-label">Category</label>
                        <div class="col-sm-8">
                          <select name="category_name" class="form-select shadow p-1 mb-1 bg-white rounded" aria-label="Default select example">
                            <option selected>Not selected</option>
                            {% for category in categories %}
                            <option value="{{category.category_name}}"> {{category.category_name}} </option>
                            {% endfor %}
                          </select>
                        </div>
                    
                    <div class="mb-3">
                        <label for="prodct_description" class="form-label">product description</label>
                        <input class="form-control" type="text" id="prodct_description" name="prodct_description">
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">image</label>
                        <input class="form-control" type="file" id="image" name="image">
                    </div>

                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>
  
{% endblock content %}