{% extends "admin_base.html" %}

{% load static %}

{% block content %}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Add Screensize</h6>
                <form method="post" action="{% url 'add_screensize' %}">
                    {% csrf_token %} 
                    <div class="mb-3">
                        <label for="memory" class="form-label">Screensize</label>
                        <input type="text" class="form-control" id="screensize" name="screensize">
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
  
{% endblock content %}