{% extends "store_base.html" %}

{% block content %}

<div class="col-lg-9">
    <form method="post" action="{% url 'create_address' %}">
        {% csrf_token %}
     
    <h2 class="checkout-title">ADDRESS</h2><!-- End .checkout-title -->
        <div class="row">
            <div class="col-sm-6" >
                <label>Name *</label>
                <input type="text" class="form-control"  name = "fullname" id="name" required>
            </div><!-- End .col-sm-6 -->

            <!-- <div class="col-sm-6">
                <label>Last Name *</label>
                <input type="text" class="form-control" required>
            </div>End .col-sm-6 -->
        </div><!-- End .row -->

        <!-- <label>Company Name (Optional)</label>
        <input type="text" class="form-control"> -->

        

        <label>address *</label>
        <input type="text" class="form-control" name="address" placeholder="address" id="address" required>


        <div class="row">
            <div class="col-sm-6">
                <label> District*</label>
                <input type="text" class="form-control" name ="district" id="district" required>
            </div><!-- End .col-sm-6 -->

            <div class="col-sm-6">
                <label>State  *</label>
                <input type="text" name="state" id="state" class="form-control" required>
            </div><!-- End .col-sm-6 -->
        </div><!-- End .row -->

        <div class="row">
            <div class="col-sm-6">
                <label>Pincode *</label>
                <input type="text" name="pincode"  id="pincode" class="form-control" required>
            </div><!-- End .col-sm-6 -->

            <div class="col-sm-6">
                <label>Phone *</label>
                <input type="tel" class="form-control" name = 'mobile' id="mobile" required>
            </div><!-- End .col-sm-6 -->
        </div><!-- End .row -->

        <!-- <label>Email address *</label>
        <input type="email" class="form-control" name = 'email' required> -->

        <!-- <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkout-create-acc">
            <label class="custom-control-label" for="checkout-create-acc">Create an account?</label>
        </div>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="checkout-diff-address">
            <label class="custom-control-label" for="checkout-diff-address">Ship to a different address?</label>
        </div> -->

            <div class="col-lg-4">
            
                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                    <span class="btn-text">Add Address</span>
                    <span class="btn-hover-text">Add new Address</span>
                </button>
           
        </div>

    </form>
</div><!-- End .col-lg-9 -->
{% endblock %}