{% extends "admin_base.html" %}

{% load static %}

{% block content %}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-6">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Add Color</h6>
                <form method="post" action="{% url 'add_color' %}" enctype="multipart/form-data">
                    {% csrf_token %} 
                    
                    <div class="mb-3">
                        <label for="color_name" class="form-label">Color Name</label>
                        <!-- Set the value of the input field to the selected color code using JavaScript -->
                        <input type="text" class="form-control" id="color_name" name="color_name" >
                    </div>

                    <!-- Use type="color" for a color picker -->
                    <div class="mb-3">
                        <label for="color_code" class="form-label">Color Code</label>
                        <!-- Set the value of the input field to the selected color code using JavaScript -->
                        <input type="text" class="form-control" id="color_code" name="color_code" readonly>
                    </div>
                    <div class="mb-3">
                        <label for="color" class="form-label">Color </label>
                        <input type="color" class="form-control" id="color" name="color">
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // Set the value of the "Color Name" input to the selected color code
    document.getElementById('color').addEventListener('change', function() {
        document.getElementById('color_code').value = this.value;
    });
</script>

{% endblock content %}
            <!-- <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Add color</h6>
                            <form method="post" action="{% url 'add_color' %}" enctype="multipart/form-data">
                                {% csrf_token %} 
                                <div class="mb-3">
                                    <label for="color_name" class="form-label">Color Name</label>
                                    <input type="text" class="form-control" id="color_name" name="color_name">
                                </div>
                                
                                <button type="submit" class="btn btn-primary">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div> -->
