{% extends "admin_base.html" %}

{% load static %}

{% block content %}

            <div class="container-fluid pt-4 px-4">
                <div class="row g-4" style="display: flex;
                justify-content: center;">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Add Variants</h6>
                            <form method="post" action="{% url 'add_variants' %}" enctype="multipart/form-data">
                                {% csrf_token %} 
                                <div class="mb-3">
                                    <label for="product_name" class="form-label">Product <button class="bu"><a href="">+</a></button></label>
                                    <select name="product_name" class="form-select">
                                        <option value="">Select a product</option>
                                        {% for product in products %}
                                            <option value="{{ product.Product_name }}">{{ product.Product_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="color" class="form-label">Color <button class="bu"><a href="">+</a></button></label>
                                    <select name="color" class="form-select">
                                        <option value="">Select a color</option>
                                        {% for color in colors %}
                                            <option value="{{ color.color_name }}">{{ color.color_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="memory" class="form-label">Storage <button class="bu"><a href="{% url 'add_storage'  %}">+</a></button></label>
                                    <select name="memory" class="form-select">
                                        <option value="">Select a memory</option>
                                        {% for storage in storages %}
                                            <option value="{{ storage.memory }}">{{ storage.memory }}</option>
                                           
                                        {% endfor %}
                                    </select>
                                    
                                </div>
                                <div class="mb-3">
                                    <label for="screensize" class="form-label">Screen Size <button class="bu"><a href="{% url 'add_screensize' %}">+</a></button></label>
                                    <select name="screensize" class="form-select">
                                        <option value="">Select a Screen Size</option>
                                        {% for size in screensizes %}
                                            <option value="{{ size.screensize }}">{{ size.screensize }}</option>
                                            {% endfor %}  
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="price" class="form-label">Price</label>
                                    <input type="text" class="form-control" id="price" name="price">
                                </div>
                                <div class="mb-3">
                                    <label for="quantity" class="form-label">Quantity</label>
                                    <input type="text" class="form-control" id="quantity" name="quantity">
                                </div>
                                <div class="form-group row">
                                    <label for="image" class="col-sm-3 col-form-label"> Images</label>
                                    <div class="col-sm-8">
                                        <input type="file"   name="images" multiple class="form-control-file shadow p-1 mb-1 bg-white rounded" id="inputEmail3">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
{% endblock content %}
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-sm-12 col-xl-6">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Add Variants</h6>
                            <form method="post" action="{% url 'add_variants' %}" enctype="multipart/form-data">
                                {% csrf_token %} 
                                <div class="mb-3">
                                    <label for="product_name" class="form-label">Product <button class="bu"><a href="">+</a></button></label>
                                    <select name="product_name" class="form-select">
                                        <option value="">Select a product</option>
                                        {% for product in products %}
                                            <option value="{{ product.Product_name }}">{{ product.Product_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="color" class="form-label">Color <button class="bu"><a href="">+</a></button></label>
                                    <select name="color" class="form-select">
                                        <option value="">Select a color</option>
                                        {% for color in colors %}
                                            <option value="{{ color.color_name }}">{{ color.color_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="memory" class="form-label">Storage <button class="bu"><a href="{% url 'add_storage'  %}">+</a></button></label>
                                    <select name="memory" class="form-select">
                                        <option value="">Select a memory</option>
                                        {% for storage in storages %}
                                            <option value="{{ storage.memory }}">{{ storage.memory }}</option>
                                           
                                        {% endfor %}
                                    </select>
                                    
                                </div>
                                <div class="mb-3">
                                    <label for="price" class="form-label">Screen Size <button class="bu"><a href="">+</a></button></label>
                                    <select name="Screen_size" class="form-select">
                                        <option value="">Select a Screen Size</option>
                                        
                                            <option value="{{ storage.memory }}">{{ storage.memory }}</option>
                                           
                                    </select>
                                </div>
                                <div class="mb-3">
                                    <label for="price" class="form-label">Price</label>
                                    <input type="text" class="form-control" id="price" name="price">
                                </div>
                                <div class="mb-3">
                                    <label for="quantity" class="form-label">Quantity</label>
                                    <input type="text" class="form-control" id="quantity" name="quantity">
                                </div>
                                <div class="form-group row">
                                    <label for="image" class="col-sm-3 col-form-label"> Images</label>
                                    <div class="col-sm-8">
                                        <input type="file"   name="images" multiple class="form-control-file shadow p-1 mb-1 bg-white rounded" id="inputEmail3">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            