
{% extends "store_base.html" %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% block content %}
{% load static  %}

{% if cartitems %}
<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Shopping Cart<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="cart">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <table class="table table-cart table-mobile">
                            <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Price</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for cart_item in cartitems %}
                                <tr>
                                    <td class="product-col">
                                        <div class="product">
                                            <figure class="product-media">
                                                <a href="#">
                                                    <img src="{{cart_item.variant.variantimages.first.image.url}}" alt="Product image">
                                                </a>
                                            </figure>

                                            <h3 class="product-title">
                                                <a href="#">{{ cart_item.variant.product.Product_name }}</a>
                                            </h3><!-- End .product-title -->
                                        </div><!-- End .product -->
                                    </td>
                                    
                                    


                                    <td class="price-col">₹{{ cart_item.variant.price }}</td>
                                    <td class="quantity-col">
                                            
                                        <div class="cart-product-quantity">
                                            <input type="number" id="quantity" name="quantity" class="form-control quantity-input" value="{{ cart_item.variant_quantity }}" min="1" max="10" step="1" data-decimals="0" required >

                                        </div>
                                            <!-- End .cart-product-quantity -->
                                    </td>
                                    <td class="total-col">₹{{ cart_item.get_total }}</td>
                                    <td class="remove-col"><button class="btn-remove"><a href="{% url 'remove_cart' cart_item.uid %}"><i class="icon-close"></i></a></button></td>
                                </tr>
                                <!--  -->
                                {% endfor %}
                            </tbody>
                        </table><!-- End .table table-wishlist -->
                        
                        <div class="cart-bottom">
                            <div class="cart-discount">
                                <form action="#" method = "post">
                                    {% if messages %}
                                    {% for message in messages %}
                                    <div class="alert alert-{% if message.tags %}{{message.tags}}{% endif %}" role="alert">
                                        {{message}}
                                    </div>
                                    {% endfor %}
                                    {% endif %}
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="text" name="coupon" class="form-control" required placeholder="coupon code">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary-2" type="submit"><i class="icon-long-arrow-right"></i></button>
                                        </div><!-- .End .input-group-append -->
                                    </div><!-- End .input-group -->
                                </form>
                            </div><!-- End .cart-discount -->

                            <a href=" " class="btn btn-outline-dark-2"><span>UPDATE CART</span><i class="icon-refresh"></i></a>
                        </div><!-- End .cart-bottom -->
                    </div><!-- End .col-lg-9 -->

                    <aside class="col-lg-3">
                        
                        <div class="summary summary-cart">
                            
                            <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->
                            
                            <table class="table table-summary">
                                <tbody>
                                  


                                    <tr class="summary-subtotal">
                                        <td>Subtotal:</td>
                                        <td>₹ {{cart.cart_total}}</td>
                                     </tr> 
                                     <tr class="summary-subtotal">
                                        <td>Discount Amount:</td>
                                        <td id="discountAmount">₹{{ coupon_obj.discount_price }}</td>
                                    </tr>
                                    
                                        <!-- End .summary-subtotal  -->
                                    <tr class="summary-shipping">
                                        <td>Shipping:</td>
                                        <td>&nbsp;</td>
                                    </tr>

                                    <tr class="summary-shipping-row">
                                        <td>
                                            <div class="">
                                                <!-- <input type="radio" id="free-shipping" name="shipping" class="custom-control-input"> -->
                                                <label class="custom-control-label" for="free-shipping">Free Shipping</label>
                                            </div><!-- End .custom-control -->
                                        </td>
                                        <td>₹0.00</td>
                                    </tr><!-- End .summary-shipping-row -->

                                   
                                    <!-- End .summary-shipping-row -->

                                    <!-- <tr class="summary-shipping-estimate">
                                        <td>Estimate for Your Country<br> <a href="dashboard.html">Change address</a></td>
                                        <td>&nbsp;</td> -->
                                    <!-- </tr> -->
                                    <!-- End .summary-shipping-estimate -->

                                    <tr class="summary-total">
                                        <td>Total:</td>
                                        <td>₹ {{cart.cart_total}}</td>
                                    </tr><!-- End .summary-total -->
                                </tbody>
                            </table><!-- End .table table-summary -->
                            
                                <a href="{% url 'checkout' %}" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a>
                            
                            <!-- <a href="{% url 'checkout' %}" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO CHECKOUT</a> -->
                        </div>
                        {% else %}
                        <img  src="{% static 'store/assets/images/demos/demo-4/final.png' %}" style="height: 350px; width: 35%; position: relative;left: 43rem;" alt="">
                        {% endif %}

                        <a href="{% url 'shop' %}" class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i></a>
                    </aside><!-- End  .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .cart -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<script>

function quantityInputs() {
        if ( $.fn.inputSpinner ) {
            $("input[type='number']").inputSpinner({
                decrementButton: '<i class="icon-minus"></i>',
                incrementButton: '<i class="icon-plus"></i>',
                groupClass: 'input-spinner',
                buttonsClass: 'btn-spinner',
                buttonsWidth: '26px'
            });
        }
    }





</script>



<!-- <script>
    function updateQuantity(value) {
        // Get the quantity input element
        var quantityInput = document.getElementById('quantity');

        // Update the quantity value
        quantityInput.value = value;

        // Update the price based on the new quantity
        updatePrice();
    }

    function updatePrice() {
        // Get the quantity value
        var quantity = parseInt(document.getElementById('quantity').value);

        // Get the price per item (assuming it's stored somewhere)
        var pricePerItem = price; // Replace with the actual price per item

        // Calculate the new price
        var totalPrice = quantity * pricePerItem;

        // Display the new price
        document.getElementById('total-price').innerHTML = totalPrice;
    }
</script> -->


    
    
    
    


{% endblock content %}
     