{% extends "admin_base.html" %}

{% load static %}

{% block content %}<div class="col-12 mt-5 ml-3">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">CATEGORY</h6>
        <button style="border-radius: 10px; margin-left: 800px; margin-top: -90px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Category offers
          </button>
        <div class="table-responsive">
            <table class="table" style="font-size: small;">
                <thead>
                    <tr>
                        <th scope="col">SL NO</th>
                        <th scope="col">CATEGORY NAME</th>
                        <th scope="col">IMAGE</th>
                        <th scope="col">EDIT</th>
                        <th scope="col">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in categories %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ category.category_name }}</td>
                        <td>
                            {% if category.category_image %}
                            <img style="width: 100px; height: 70px;" src="{{ category.category_image.url }}" alt="">
                            {% else %}
                            <img src="{% static 'placeholder_image.jpg' %}" alt="">
                            {% endif %}
                        </td>
                        <td>
                            <a href="#staticBackdrop{{ category.uid }}" class="edit-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ category.uid }}">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="{% url 'delete_category' category.uid %}">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                        <td>
                            {% if category.is_listed %}
                            <form action="{% url 'unlist_category' category.uid %}" method="post">
                                {% csrf_token %}
                                <button type="submit" style="color: red;">Unlist</button>
                            </form>
                            {% else %}
                            <form action="{% url 'list_category' category.uid %}" method="post">
                                {% csrf_token %}
                                <button type="submit" style="color: green;">List</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- add-category offers-Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Category Offers</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="add_category_offer_form" method="post" action="{% url 'add_category_offer' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="category_offer_name" class="form-label">Offer Name</label>
                        <input type="text" class="form-control" id="category_offer_name" name="category_offer_name" value="">
                    </div>
                    <div class="mb-3">
                        <label for="category_offer_percentage" class="form-label">Offer Percentage</label>
                        <input type="number" class="form-control" id="category_offer_percentage" name="category_offer_percentage" value="">
                    </div>
                    <div class="mb-3">
                        <label for="category_name" class="form-label">Category</label>
                        <select class="form-select" id="category_name" name="category_name">
                            {% for category in categories %}
                                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- Add other category offer form fields here -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" form="add_category_offer_form" class="btn btn-primary">Add Offer</button>
            </div>
        </div>
    </div>
</div>

{% for category in categories %}
<!-- Edit Modal -->
<div class="modal fade" id="staticBackdrop{{ category.uid }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit Category</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit_category_{{ category.id }}" method="post" action="{% url 'update_category' category.uid %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="category_id" value="{{ category.id }}">
                    <div class="mb-3">
                        <label for="category_name" class="form-label">Category Name</label>
                        <input type="text" class="form-control" id="category_name" name="category_name" value="{{ category.category_name }}">
                    </div>
                    <div class="mb-3">
                        <label for="categoryImage" class="form-label">Image</label>
                        <input type="file" class="form-control" id="categoryImage" name="category_image">
                    </div>
                    <!-- Add other category form fields here -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update Category</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

  
{% endfor %}
{% endblock content %}
