{% extends "store_base.html" %}

{% block content %}
<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <div class="checkout-discount">
                    <form action="#">
                        <input type="text" class="form-control" required id="checkout-discount-input">
                        <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
                    </form>
                </div><!-- End .checkout-discount -->

                <form action="{% url 'placeorder' %}" method="post">
                    {% csrf_token %}
                   <div class="row">
                        <div class="col-lg-8">
                            <div class="card card-dashboard">
                                <div class="card-body">
                                    <h3 class="card-title">Billing Address</h3><!-- End .card-title -->
                                    {% for addr in addresses %}
                                    <div class="form-check">
                                        <input type="radio" class="form-check-input" name="selection" id="radio-btn-{{ addr.id }}" value="{{ addr.id }}" required>
                                        <label class="form-check-label" for="radio-btn-{{ addr.id }}">Select Billing Address</label>
                                    </div>
                                    <p id="address-details-{{ addr.id }}">
                                        {{ addr.fullname }}<br>
                                         {{ addr.address }}<br>
                                        {{ addr.district }}, {{ addr.state }}<br>
                                        {{ addr.pincode }}<br>
                                        {{ addr.mobile }}<br>
                                        {{ addr.email }}<br>
                                    </p>
                                    {% endfor %}
                                </div><!-- End .card-body -->
                            </div><!-- End .card-dashboard -->

                            <div class="col-lg-4">
                                <a href="{% url 'add_address' %}">
                                    <button type="button" class="btn btn-outline-primary-2 btn-order btn-block">
                                        <span class="btn-text">Add Address</span>
                                        <span class="btn-hover-text">Add new Address</span>
                                    </button>
                                </a>
                            </div>
                        </div><!-- End .col-lg-9 -->

                        <aside class="col-lg-4">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for item in cart_items %}
                                        <tr>
                                            <td><a href="#">{{ item.variant.variant_name }} × {{ item.variant_quantity }}</a></td>
                                            <td>₹{{ item.get_total }}</td>
                                        </tr>
                                        {% endfor %}

                                        <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td>₹{{ cart.cart_total }}</td>
                                        </tr><!-- End .summary-subtotal -->
                                        <tr>
                                            <td>Shipping:</td>
                                            <td>Free shipping</td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td>₹{{ cart.cart_total }}</td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                <div class="accordion-summary" id="accordion-payment">
                                    <div class="card my-3">
                                        <div class="card-header" id="heading-3">
                                            <h2 class="card-title">
                                                <input type="radio" name="payment_mode" value="cod" id="directcheck" onchange="handlePaymentSelection()">
                                                <label for="directcheck">COD</label>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                                            </div>
                                        </div>
                                    </div><!-- End .card -->
                                
                                    <div class="card">
                                        <div class="card-header my-3" id="heading-5">
                                            <h2 class="card-title">
                                                <input type="radio" name="payment_mode" value="razorpay" id="banktransfer" onchange="handlePaymentSelection()">
                                                <label for="banktransfer">Razor Pay</label>
                                            </h2>
                                        </div><!-- End .card-header -->
                                        <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
                                            <div class="card-body">
                                                Donec nec justo eget felis facilisis fermentum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit ame.
                                            </div>
                                        </div>
                                    </div><!-- End .card -->
                                </div>
                                
                                <button type="submit" id="place-order-button" class="btn btn-outline-primary-2 btn-order btn-block" style="margin-top: 20px; display: none;">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text">Proceed to Checkout</span>
                                </button>
                                <button type="button" id="rzp-button1" class="btn btn-outline-primary-2 btn-order btn-block paywthRazorpay" style="margin-top: 20px; display: none;">
                                    <span class="btn-text">Pay with Razorpay</span>
                                    <span class="btn-hover-text">Proceed to Payment</span>
                                </button>
                                <!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->


{% block script %}

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

{% endblock script %}


<script>

    function handlePaymentSelection(){
        var codRadio = document.getElementById("directcheck");
        var placeOrderButton = document.getElementById("place-order-button");
        var razorpayButton = document.getElementById("rzp-button1");

    
    if (codRadio.checked){
        placeOrderButton.style.display = "block";
        razorpayButton.style.display = "none";

    }
    else{
        placeOrderButton.style.display = "none";
        razorpayButton.style.display = "block";
        
    }

}
</script>



{% endblock content %}



  
