{% extends "store_base.html" %}

{% block content %}

<main class="main">
    <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        <div class="container">
            <h1 class="page-title">Checkout<span>Shop</span></h1>
        </div><!-- End .container -->
    </div><!-- End .page-header -->
    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="checkout">
            <div class="container">
                <div class="checkout-discount">
                    <form action="#">
                        <input type="text" class="form-control" required id="checkout-discount-input">
                        <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
                    </form>
                </div><!-- End .checkout-discount -->
                
                
                <!-- End .col-lg-6 -->
                <form action="{% url 'placeorder' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card card-dashboard">
                                <div class="card-body">
                                    <h3 class="card-title">Billing Address</h3><!-- End .card-title -->
                                    {% for addr in addresses %}
                                    <input type="radio" name="selection" id="radio-btn" value="{{ addr.id }}" required>
                                    <label for="radio-btn">Select Billing Address</label>
                                     
                                    <p id="address-details">
                                        {{ addr.fullname }}<br>
                                        {{ addr.address }}<br>
                                        {{ addr.district }},  {{ addr.state }} <br>
                                        {{ addr.pincode }}<br>
                                        {{ addr.mobile }}<br>
                                        {{ addr.email }}<br>
                                    </p>
                                    {% endfor %}


                                    <!-- <p id="address-details">User Name<br>
                                    User Company<br>
                                    John str<br>
                                    New York, NY 10001<br>
                                    1-234-987-6543<br>
                                    yourmail@mail.com<br></p>
                                     -->
                                    
                                    
                                </div><!-- End .card-body -->
                            </div><!-- End .card-dashboard -->
                            <div class="col-lg-4">
                                
                                    
                                <a href="{% url 'add_address' %}"> <button  type="submit"  class="btn btn-outline-primary-2 btn-order btn-block">
                                    <span class="btn-text">Add Address</span>
                                    <span class="btn-hover-text">Add new Address</span>
                                </button></a> 
                                  
                            </div>
                            
                        </div><!-- End .col-lg-9 -->
                        <aside class="col-lg-4">
                            <div class="summary">
                                <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                <table class="table table-summary">
                                    <thead>
                                        <tr>
                                            <th>Product</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for item in cart_items %}
                                        <tr>
                                            <td><a href="#">{{ item.variant.variant_name }}× {{ item.variant_quantity }}</a></td>
                                            <td>₹{{ item.get_total }}</td>
                                        </tr>
                                        {% endfor %}

                                        
                                        <tr class="summary-subtotal">
                                            <td>Subtotal:</td>
                                            <td>₹ {{cart.cart_total}}</td>
                                        </tr><!-- End .summary-subtotal -->
                                        <tr>
                                            <td>Shipping:</td>
                                            <td>Free shipping</td>
                                        </tr>
                                        <tr class="summary-total">
                                            <td>Total:</td>
                                            <td>₹ {{cart.cart_total}}</td>
                                        </tr><!-- End .summary-total -->
                                    </tbody>
                                </table><!-- End .table table-summary -->

                                <div class="accordion-summary" id="accordion-payment" required>
                                    

                                    <div class="card">
                                        

                                        <div class="card">
                                            <div class="card-header" id="heading-3">
                                                <h2 class="card-title">
                                                    <input type="radio" name="payment_mode" value="cod" id="cod-razorpay" checked>
                                                    <label for="cod-razorpay">COD</label>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                                                <div class="card-body">Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. 
                                                </div>
                                            </div>
                                        </div><!-- End .card -->
                                        
                                        <div class="card">
                                            <div class="card-header" style="margin-top: 20px;" id="heading-5">
                                                <h2 class="card-title ">
                                                    <input type="radio" name="payment_mode" value="razorpay" id="rzp-button1" >
                                                    <label for="cod-razorpay">Razor Pay</label>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
                                                <div class="card-body"> Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit ame.
                                                </div>
                                            </div>
                                        </div><!-- End .card -->
                                        
                                </div>
                                

                                <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block" style="margin-top: 20px;">
                                    <span class="btn-text">Place Order</span>
                                    <span class="btn-hover-text">Proceed to Checkout</span>
                                </button>
                            </div><!-- End .summary -->
                        </aside><!-- End .col-lg-3 -->
                    </div><!-- End .row -->
                </form>
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->


<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    var options = {
        "key": "rzp_test_Uariryi2s2u5dv", // Enter the Key ID generated from the Dashboard
        "amount": payment['amount'], // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "shop electron",
        "description": "Purchase payment",
        "image": "https://example.com/your_logo",
        "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            alert(response.razorpay_payment_id);
            alert(response.razorpay_order_id);
            alert(response.razorpay_signature)
        },
        
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response){
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
    });
    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }
    </script>

{% endblock content %}



  
