{% extends "store_base.html" %}


{% block content %}

<main class="main">
    <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
        <div class="container">
            <div class="form-box">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link">Enter the registered email</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        {% if messages %}
                        <div class="messages">
                            {% for message in messages %}
                            <p style="color: red">{{ message }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <form action="{% url 'forgot_password' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="singin-email-2">Username or email address *</label>
                                <input type="text" class="form-control" id="singin-email-2" name="email" required>
                            </div><!-- End .form-group -->

                            {% for field in login_form %}
                            <p>
                                {% for error in field.errors %}
                                <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            </p>
                            {% endfor %}
                            {% if login_form.non_field_errors %}
                            <div style="color: red">
                                <p>{{ login_form.non_field_errors }}</p>
                            </div>
                            {% endif %}

                            <div class="form-footer">
                                <button type="submit" class="btn btn-outline-primary-2">
                                    <span>RESET PASSWORD</span>
                                    <i class="icon-long-arrow-right"></i>
                                </button>
                            </div><!-- End .form-footer -->
                        </form>
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
</main><!-- End .main -->



{% endblock content %}