{% extends "store_base.html" %}
{% load static %}


{% block content %}


<div class="page-content">
    <div class="container">
        <table class="table table-wishlist table-mobile">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Price</th>
                    <th>quantity</th>
                    <th>return</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                
            {% for order_item in order_items %}
                
                
                <td class="product-col">
                    
                    <div class="product">
                        <h3 class="product-title">
                            {{ order_item.variant.variant_name }}
                        </h3>
                    </div> 
                </td> 
                <td>{{ order_item.price}}</td>
                <td>{{ order_item.order_quantity}}</td>
                {{ order_item.order_id}}
                <td>
                    {% if order_item.show_return_button %}
								
                                {% if order_item.refund_status == 'requested'%}
								<form method="post" action="{% url 'cancel_order' order_item.order_id %}">
									{% csrf_token %}
			
									
									<button type="submit">Return</button>
									
								</form>
								{% else %}
								<p>{{ order_item.refund_status}}</p>
                                {% endif %}
                              {% endif %}
            {% endfor %}

                </td>
                
            </tbody>
        </table>
    </div>
</div>



{% endblock %}