{% extends "store_base.html" %}
{% load static %}

{% block title %}
  
{% endblock title %}

{% block content %}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Products</a></li>
                <li class="breadcrumb-item active" aria-current="page">Extended Description</li>
            </ol>

            <nav class="product-pager ml-auto" aria-label="Product">
                <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
                    <i class="icon-angle-left"></i>
                    <span>Prev</span>
                </a>

                <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
                    <span>Next</span>
                    <i class="icon-angle-right"></i>
                </a>
            </nav><!-- End .pager-nav -->
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
           
              
            
            <div class="product-details-top mb-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery">
                            <figure class="product-main-image">
                                <img id="product-zoom" src="{{ details.variantimages.first.image.url }}" data-zoom-image="{{ details.variantimages.first.image.url }}" alt="product image">

                                <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                    <i class="icon-arrows"></i>
                                </a>
                            </figure><!-- End .product-main-image -->
                            <div id="product-zoom-gallery" class="product-image-gallery">
                                {% for img in details.variantimages.all  %}
                                <a class="product-gallery-item" href="" data-image="{{ img.image.url }}" data-zoom-image="{{ img.image.url }}">
                                    <img src="{{ img.image.url }}" alt="product side">
                                </a>
                                {% endfor %}
                            </div><!-- End .product-image-gallery -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details">
                            <h1 class="product-title">{{ details.product.Product_name }}</h1><!-- End .product-title -->

                            <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                </div><!-- End .ratings -->
                                <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a>
                            </div><!-- End .rating-container -->

                            <div class="product-price">
                                {% if details.offer_price %}
                                <del class="text-danger mx-4">₹{{ details.price }}</del>
                                <span >₹{{ details.offer_price }}</span>
                            {% else %}
                                ₹{{ details.price }}
                            {% endif %}
                            </div><!-- End .product-price -->

                            <div class="product-content">
                                <p>{{ details.product.prodct_description}} </p>
                            </div><!-- End .product-content -->

                            <div class="details-filter-row details-row-size">
                                <label>Color:</label>

                                <div class="product-nav product-nav-dots">
                                    <a href="#" class="active" style="background: #eab656;"><span class="sr-only">Color </span></a>
                                    <a href="#" style="background: #333333;"><span class="sr-only">Color name</span></a>
                                    <a href="#" style="background: #3a588b;"><span class="sr-only">Color name</span></a>
                                    <a href="#" style="background: #caab97;"><span class="sr-only">Color name</span></a>
                                </div><!-- End .product-nav -->
                            </div><!-- End .details-filter-row -->

                            <div class="details-filter-row details-row-size">
                                <label for="size">Storage:</label>
                                <div class="select-custom">
                                    <select name="size" id="size" class="form-control">
                                        <option value="#" selected="selected">Select a storage</option>
                                        <option value="s">{{details.storage.memory}}</option>
                                        <!-- <option value="m">Medium</option>
                                        <option value="l">Large</option>
                                        <option value="xl">Extra Large</option> -->
                                    </select>
                                </div><!-- End .select-custom -->

                                
                            </div><!-- End .details-filter-row -->

                            <div class="details-filter-row details-row-size">
                                <label for="qty">Qty:</label>
                                <div class="product-details-quantity">
                                    <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                                </div><!-- End .product-details-quantity -->
                            </div><!-- End .details-filter-row -->

                            <div class="product-details-action">
                                <a href="{% url 'add_to_cart' details.uid %}" class="btn-product btn-cart"><span>add to cart</span></a>

                                <div class="details-action-wrapper">
                                    <a href="{% url 'wishlist' %}" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a>
                                    <!-- <a href="#" class="btn-product btn-compare" title="Compare"><span>Add to Compare</span></a> -->
                                </div><!-- End .details-action-wrapper -->
                            </div><!-- End .product-details-action -->

                            <div class="product-details-footer">
                                <div class="product-cat">
                                    <span>Category:</span>
                                    <a href="#">{{details.product.category.category_name }}</a>
                                    
                                </div><!-- End .product-cat -->

                                <div class="social-icons social-icons-sm">
                                    <span class="social-label">Share:</span>
                                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                </div>
                            </div><!-- End .product-details-footer -->
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->
         
        </div><!-- End .container -->

      
        
        <!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

<script>
    $(document).ready(function() {
      // Handle click event on sub-options
      $('.product-gallery-item').on('click', function(e) {
        e.preventDefault();
    
        // Get the image and zoom image URLs from the clicked sub-option
        var image = $(this).data('image');
        var zoomImage = $(this).data('zoom-image');
    
        // Update the main image source and zoom image source
        $('#product-zoom').attr('src', image);
        $('#product-zoom').data('zoom-image', zoomImage);
    
        // Remove the active class from all sub-options
        $('.product-gallery-item').removeClass('active');
    
        // Add the active class to the clicked sub-option
        $(this).addClass('active');
      });
    });
</script>


{% endblock content %}

{% block script %}
<script src="{% static 'store/assets/js/jquery.elevateZoom.min.js' %}"></script>
{% endblock script %}