{% extends "admin_base.html" %}
{% load static %}

{% block content %}

<div class="col-12 mt-5 ml-3">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">PRODUCT</h6>
        <button style="border-radius: 10px; margin-left: 800px; margin-top: -90px;" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Add Product offers
          </button>
        <div class="table-responsive">
            
            <table class="table" style="font-size: small;">
                <thead>
                    <tr>
                        <th scope="col">SL NO</th>
                        <th scope="col">PRODUCT NAME</th>
                        <th scope="col">CATAGORY</th>
                        <th scope="col">DESCRIPTION</th>
                        <th scope="col">Image</th>
                        <!-- <th scope="col">DESCRIPTION</th> -->
                        <th scope="col">EDIT</th>
                        <th scope="col">ACTION</th>

                        <!-- <th scope="col">ZIP</th>
                        <th scope="col">Status</th> -->
                    </tr>
                </thead>
                
                <tbody>
                    {% for product in products %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ product.Product_name }}</td>
                        <td>{{ product.category.category_name }}</td>
                        <td>{{ product.prodct_description }}</td>
                        {% if product.image %}
                        <td>
                            <img style="width: 100px; height: 70px ;" src="{{ product.image.url }}" alt="">
                        </td>
                        
                        {%  else %}
                        <!-- <td>
                            <img src="{% static 'media/product.url' %}" alt="">
                        </td> -->
                        <!-- <td><td> -->
                            {% endif %}
                            <td>
                                <a href="#staticBackdrop{{ product.uid }}" class="edit-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ product.uid }}">
                                    <i class="fas fa-pencil-alt fa-lg"></i>
    
                                </a>
                            </td>

                            <td>
                                {% if product.is_listed %}
                                    <form action="{% url 'unlist_product' product.uid %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" style="color: red;">Unlist</button>
                                    </form>
                                {% else %}
                                    <form action="{% url 'list_product' product.uid %}" method="post">
                                        {% csrf_token %}
                                        <button type="submit" style="color: green;">List</button>
                                    </form>
                                {% endif %}
                            </td>
                    </tr>
                    {% endfor %}
                       

                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>

<!-- add-product offers-Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add Product Offer</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form id="add_product_offer_form" method="post" action="{% url 'add_product_offer' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="" value="">
                <div class="mb-3">
                    <label for="product_offer_name" class="form-label">Offer Name</label>
                    <input type="text" class="form-control" id="product_offer_name" name="product_offer_name" value="">
                </div>
                <div class="mb-3">
                    <label for="product_offer_percentage" class="form-label">Offer percentage</label>
                    <input type="number" class="form-control" id="product_offer_percentage" name="product_offer_percentage" value="">
                </div>
                <div class="mb-3">
                    <label for="productName" class="form-label">Product </label>
                    <select class="form-select" id="Product_name" name="Product_name">
                        {% for product in products %}
                            <option value="{{ product.Product_name }}">{{ product.Product_name }}</option>
                        {% endfor %}
                    </select>
                </div>

            </form>
            
           
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" form="add_product_offer_form" class="btn btn-primary">Set</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Edit Modal -->
{% for product in products %}
<div class="modal fade" id="staticBackdrop{{ product.uid }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit Product</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit_product_{{ product.id }}" method="post" action="{% url 'update_product' product.uid %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{ product.id }}">
                    <div class="mb-3">
                        <label for="Product_name" class="form-label">Product Name</label>
                        <input type="text" class="form-control" id="Product_name" name="Product_name" value="{{ product.Product_name }}">
                    </div>
                    <div class="mb-3">
                        <label for="Product_description" class="form-label">Product Description</label>
                        <input type="text" class="form-control" id="Product_description" name="prodct_description" value="{{ product.prodct_description }}">
                    </div>
                    <div class="mb-3">
                        <label for="productImage" class="form-label">Image</label>
                        <input type="file" class="form-control" id="image" name="image" ">
                    </div>
                    <!-- Add other product form fields here -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update Product</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock content %}