{% extends "store_base.html" %}

{% block content %}
    <main class="main">
        <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('assets/images/backgrounds/login-bg.jpg')">
            <div class="container">
                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            
                            <li class="nav-item">
                                <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="true">Register</a>
                            </li>
                        </ul>
                        <div class="tab-content">

                            {% comment %} <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2"> {% endcomment %}
                                <form action="" method="post">
                                    {% csrf_token %}
                                        <div class="form-group">
                                            <label for="register-email">Your email address *</label>
                                            <input type="email" class="form-control" id="register-email" name="email" required>
                                        </div><!-- End .form-group -->
                                        <div class="form-group">
                                            <label for="register-email">Your Username *</label>
                                            <input type="username" class="form-control" id="register-email" name="username" required>
                                        </div><!-- End .form-group -->

                                        <div class="form-group">
                                            <label for="register-password">Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="password1" required>
                                        </div><!-- End .form-group -->
                                        <div class="form-group">
                                            <label for="register-password">Confirm Password *</label>
                                            <input type="password" class="form-control" id="register-password" name="password2" required>
                                        </div><!-- End .form-group -->
                                       
                                    {% for field in registration_form %}
                                    <p>
                                        {% for error in field.errors %}
                                        <p style = "color: red">{{error}}</p>
                                        {% endfor %}
                                    </p>
                                    {% endfor %}
                                    {% if registration_form.non_field_errors %}
                                    <div style="color: red">
                                        <p>{{registration_form.non_field_errors}}</p>
                                    </div>
                                    {% endif %}
                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SIGN UP</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        {% comment %} <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="register-policy-2" required>
                                            <label class="custom-control-label" for="register-policy-2">I agree to the <a href="#">privacy policy</a> *</label>
                                        </div><!-- End .custom-checkbox --> {% endcomment %}
                                    </div><!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <p class="text-center">or sign in with</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Login With Google
                                            </a>
                                        </div><!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login  btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Login With Facebook
                                            </a>
                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                    
                                </div><!-- End .form-choice -->
                                <div class="form-choice text-center"> <!-- Add 'text-center' class -->
                                    <br>
                                    <p class="">New here?</p>
                                    <div class="row justify-content-center"> <!-- Add 'justify-content-center' class -->
                                        <div class="col-sm-6">
                                            <a href="{% url 'login_view' %}">
                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>Sign In</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                            </a>
                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->
                           
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .container -->
        </div><!-- End .login-page section-bg -->
    </main><!-- End .main -->
{% endblock content %}