{% extends "admin_base.html" %}

{% block content %}
  
<form class="" method="get" action="{% url 'search' %}">
    {% csrf_token %}
    <div class="search-block d-flex align-items-center justify-content-end" style="max-height: 50px">
<input class="form-control m-0 p-0 text-center" name="q" type="search" placeholder="Search" style="width: 300px; height: 30px ;">

<button id="search-btn" class="btn btn-default" type="submit">
    <i class="material-icons">search</i>
</button>
</div>
</form>
<div class="col-12 mt-5 ml-3">
    <div class="bg-light rounded h-100 p-4" style="margin-left: 20px;
    margin-right: 20px;">
        <h6 class="mb-4">USER DETAILS</h6>
        <div class="table-responsive">
            
            <table class="table" style="font-size: small;">
                <thead>
                    <tr>
                        <th scope="col">SL NO</th>
                        <th scope="col">USERNAME</th>
                        <th scope="col">EMAIL</th>
                        <th scope="col">MOBILE</th>
                        <th scope="col">VERIFIED</th>
                        <th scope="col" style="">ACTION</th>
                        <!-- <th scope="col">ZIP</th>
                        <th scope="col">Status</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for i in users %}
                    <tr>
                        <th>{{forloop.counter}}</th>
                        <td>{{i.username}}</td>
                        <td>{{i.email}}</td>
                        <td>{{i.mobilenumber}}</td>
                        <td>{{i.is_active}}</td>


                        <td>
                            {% if i.is_active %}
                                <form action="{% url 'block_user' i.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-primary" style="    color: white;
                                    border-radius: 20px;
                                    width: 100px;
                                    height: 30px;font-size: small;">Block</button>
                                    <!-- <a class="btn btn-sm btn-primary" href="">Detail</a> -->
                                </form>
                            {% else %}
                                <form action="{% url 'unblock_user' i.id %}" method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-sm btn-primary" style="    color: white;
                                    border-radius: 20px;
                                    width: 100px;
                                    height: 30px;font-size: small;">Unblock</button>
                                </form>
                            {% endif %}
                        </td>
                    
                    </tr>
                  
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>
</div>

{% endblock content %}