{% extends "admin_base.html" %}

{% load static %}

{% block content %}

<div class="col-12 mt-5 ml-3">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">VARIANTS</h6>
        <div class="table-responsive" style="font-size: small;">
            
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">SL NO</th>
                        <th scope="col">PRODUCT </th>
                        <th scope="col">COLOR</th>
                        <!-- <th scope="col">MOBILE</th> -->
                        <th scope="col">STORAGE</th>
                        <th scope="col">SCREENSIZE</th>

                        <!-- <th scope="col">ZIP</th>
                        <th scope="col">Status</th> -->
                        <th scope="col">PRICE</th>
                        <th scope="col">QUANTITY</th>
                        <th scope="col">EDIT</th>
                        <th scope="col">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    {% for variant in variants %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ variant.product }}</td>
                        <td>{{ variant.color.color_name }}</td>
                        <td>{{ variant.storage.memory }}</td>
                        <td>{{ variant.screensize.screensize }}</td>
                        <td>{{ variant.price }}</td>
                        <td>{{ variant.quantity }}</td>
                        <td>
                            <a href="#staticBackdrop{{ variant.uid }}" class="edit-btn" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ variant.uid }}">
                                <i class="fas fa-pencil-alt fa-lg"></i>

                            </a>
                        </td>
                        <td>
                            {% if variant.is_listed %}
                                <form action="{% url 'unlist_variants' variant.uid %}" method="post">
                                    {% csrf_token %}
                                    <!-- <button type="submit" style="color: red;">Unlist</button> -->
                                    <button type="submit" style="color: red;">unList</button>
                                </form>
                            {% else %}
                                <form action="{% url 'list_variants' variant.uid %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" style="color: green;">List</button>
                                </form>
                            {% endif %}
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
               
                
            </table>
        </div>
    </div>
</div>
</div>
</div>


  <!-- Edit Modal -->
  {% for variant in variants %}
  <div class="modal fade" id="staticBackdrop{{ variant.uid }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="staticBackdropLabel">Edit variant</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <form id="edit_variant_{{ variant.id }}" method="post" action="{% url 'update_variants' variant.uid %}" enctype="multipart/form-data">
                      {% csrf_token %}
                      
                      
                    
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" class="form-control" id="price" name="price">
                    </div>
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input type="text" class="form-control" id="quantity" name="quantity">
                    </div>
                    
                      <!-- Add other product form fields here -->
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                          <button type="submit" class="btn btn-primary">Update Variant</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
  {% endfor %}
{% endblock content %}