{% extends "admin_base.html" %}

{% load static %}

{% block content %}

<div class="col-12 mt-5 ml-3">
    <div class="bg-light rounded h-100 p-4">
        <h6 class="mb-4">VARIANTS</h6>
        <div class="table-responsive" style="font-size: small;">
            
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">SL NO</th>
                        <th scope="col">PRODUCT </th>
                        <th scope="col">COLOR</th>
                        <!-- <th scope="col">MOBILE</th> -->
                        <th scope="col">STORAGE</th>
                        <th scope="col">SCREENSIZE</th>

                        <!-- <th scope="col">ZIP</th>
                        <th scope="col">Status</th> -->
                        <th scope="col">PRICE</th>
                        <th scope="col">QUANTITY</th>
                        <th scope="col">EDIT</th>
                        <th scope="col">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    {% for variant in variants %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ variant.product }}</td>
                        <td>{{ variant.color.color_name }}</td>
                        <td>{{ variant.storage.memory }}</td>
                        <td>{{ variant.screensize.screensize }}</td>
                        <td>{{ variant.price }}</td>
                        <td>{{ variant.quantity }}</td>
                        <td></td>
                        <td>
                            {% if variants.is_listed %}
                                <form action="{% url 'unlist_variants' variant.uid %}" method="post">
                                    {% csrf_token %}
                                    <!-- <button type="submit" style="color: red;">Unlist</button> -->
                                    <button type="submit" style="color: red;">unList</button>
                                </form>
                            {% else %}
                                <form action="{% url 'list_variants' variant.uid %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" style="color: green;">List</button>
                                </form>
                            {% endif %}
                        </td>
                        
                    </tr>
                    {% endfor %}
                </tbody>
               
                
            </table>
        </div>
    </div>
</div>
</div>
</div>
  
{% endblock content %}